<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.sharedemo">

    <application
        android:name="com.android.sharedemo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.android.sharedemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.android.sharedemo.TestServiceActivity" />
        <activity
            android:name="com.android.sharedemo.SchemeActivity"
            android:label="@string/app_name">

            <!-- 要想在别的App上能成功调起App，必须添加intent过滤器 -->

            <!-- 协议部分，随便设置 -->
            <intent-filter>
                <!--协议部分，随便设置-->
                <action android:name="android.intent.action.VIEW" />
                <!--下面这几行也必须得设置-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mtime"
                    android:path="/goodsDetail"
                    android:scheme="scheme" />
            </intent-filter>
        </activity>

        <activity android:name="com.android.sharedemo.SingleActivity" />
        <activity android:name=".MainActivity2" />
        <activity android:name="com.android.sharedemo.LottieActivity" />
        <activity android:name="com.android.sharedemo.SimpleActivity" />
        <activity android:name="com.android.sharedemo.ObjectAnimatorActivity" />
        <activity android:name="com.android.sharedemo.handlethread.HandlerThreadActivity" />
        <activity android:name="com.android.sharedemo.handlethread.MyHandlerThreadActivity" />
        <activity android:name="com.android.sharedemo.annotationAndDelegate.AnnotationTestActivity" />

        <service android:name="com.android.sharedemo.IntentServiceDemo">
            <intent-filter>
                <action android:name="com.test.intentService" />
            </intent-filter>
        </service>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>